<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeCo</title>
    <base href="/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/png" href="~/Images/gecko_green_192.png">
</head>
<body style="background-color: #bdedaa;">
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
@*<a href="~/Views/Shared/Error.cshtml">~/Views/Shared/Error.cshtml</a>*@