<div *ngFor="let data of possibleParentsData">
    <div *ngIf="data.percentage > 0">
        <div class="panel panel-default">
            <div class="panel-body">
                <parent-organism class="col-sm-6"
                                 [characteristic]="characteristic"
                                 [trait1]="data.parent1.trait1" [trait2]="data.parent1.trait2"
                                 [traits1]="traits1" [traits2]="traits2"
                                 [canChange]="false"
                                 [sex]="'female'">

                </parent-organism>

                <!--<div style="float: left; position: relative; top: 100px;">
                    <h1>+</h1>
                </div>-->

                <parent-organism class="col-sm-6"
                                 [characteristic]="characteristic"
                                 [trait1]="data.parent2.trait1" [trait2]="data.parent2.trait2"
                                 [traits1]="traits1" [traits2]="traits2"
                                 [canChange]="false"
                                 [sex]="'male'">

                </parent-organism>
            </div>
            <div class="panel-footer">
                <h4>
                    Udio djece sa zadanim genotipom: <b>{{math.round((data.percentage * 100) * 100) / 100}}%</b>
                </h4>
            </div>
        </div>
    </div>
</div>
