<div class="col-sm-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>CHILD</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Genotip: {{ genotype }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>Fenotip: {{ fenotype }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>