<div class="jumbotron" style="background-color: transparent; width: 100%">
    <div>
        <h1>GeCo - Genetic Combinations</h1>
        <p>Nauči osnove genetskog nasljeđivanja na jednostavan način!</p>
        <p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/help']" role="button">Upute</a>
        </p>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-5 col-md-3 text-center" style="margin-right: 5%">
            <a [routerLink]="['/recombinator']" class="thumbnail">
                <img src="gecko.png" alt="">
                <div class="caption">
                    <h3>Rekombinator</h3>
                    <h4>Isprobavajte nasljeđivanje na primjerima!</h4>
                </div>
            </a>
        </div>
        <div class="col-xs-5 col-md-3 text-center" style="margin-right: 5%">
            <a [routerLink]="['/lectures']" class="thumbnail">
                <img src="book.png" alt="">
                <div class="caption">
                    <h3>Teorija</h3>
                    <h4>Naučite nasljeđivanje iz pripremljenih materijala!</h4>
                </div>
            </a>
        </div>
        <div class="col-xs-5 col-md-3 text-center">
            <a [routerLink]="['/exam']" class="thumbnail">
                <img src="exam.png" alt="">
                <div class="caption">
                    <h3>Test</h3>
                    <h4>Provjerite koliko ste naučili kroz test!</h4>
                </div>
            </a>
        </div>
    </div>
</div>

