<h1>Rekombinator</h1>
<h4>
    Dobrodošli u rekombinator! Odaberite organizam i svojstvo koje želite promatrati.
    Zatim podesite svojstva roditelja pri čemu će se generirati sve kombinacije djece.
</h4>
<br />
<div class="row">
    <div class="col-sm-6">
        <h4>Odaberi organizam:</h4>
        <select [(ngModel)]="organism" (ngModelChange)="onSelectOrganismChange($event)" id="selectOrganism" class="form-control">
            <option *ngFor="let o of organisms" [ngValue]="o">{{o}}</option>
        </select>
    </div>
    <div class="col-sm-6">
        <h4>Odaberi tip križanja:</h4>
        <span *ngFor="let c of crossType; let idx = index">
            <input style="width:2em; height:2em;"
                   type="radio"
                   name="radiogroup"
                   [checked]="idx === 0"
                   [value]="idx+1"
                   (change)="onInputRadioChange(c)">
            <label style="font-size:150%;">{{c}}</label>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Odaberi svojstvo:</h4>
        <select [(ngModel)]="characteristic" (ngModelChange)="onSelectCharacteristicChange($event)" id="selectCharacteristic" class="form-control">
            <option *ngFor="let c of data[organism]" [ngValue]="c.characteristic">{{c.characteristic }}</option>
        </select>
    </div>
    <div class="col-sm-6">
        <h4>Odaberi vrstu nasljeđivanja:</h4>
        <select [(ngModel)]="inheritanceType" (ngModelChange)="onSelectInheritanceTypeChange($event)" id="selectInheritanceType" class="form-control">
            <option *ngFor="let i of inheritanceTypes" [ngValue]="i">{{i}}</option>
        </select>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-sm-6">
        <parent-organism #parent1 [traits]="traits"></parent-organism>
    </div>
    <div class="col-sm-6">
        <parent-organism #parent2 [traits]="traits"></parent-organism>
    </div>
</div>

<div class="row">
    <offspring parent1Genotype={{parent1.trait.genotype}} parent2Genotype={{parent2.trait.genotype}} [traits]="traits"></offspring>
</div>