<div>
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4>OMJERI</h4>
            </div>
            <h4 *ngFor="let stat of stats">
                {{ stat.proportions }} {{ stat.values }}
            </h4>
        </div>
    </div>
    <br/>
    <span *ngFor="let c of children">
        <child-organism class="col-sm-6"
                        [characteristic]="characteristic"
                        [trait1]="c.child.trait1"
                        [trait2]="c.child.trait2"
                        [traits1]="traits1"
                        [traits2]="traits2"
                        [canChange]="false">
        </child-organism>
    </span>
</div>