<div class="col-md-11">
    <h2>Nepotpuna dominacija i kodominacija</h2>

    <h4 style="text-align: justify;
        text-justify: inter-word;">
        <br />
        <p>&nbsp;</p>

        <p>

            <em>Prije početka članka pretpostavlja se da ste upoznati s gradivom obrađenog u <a [routerLink]="['/lectures/dominantno-recesivno']">članaku o dominantno-recesivnom tipu nasljeđivanja</a>.</em>

        </p>
        <br/>

        <p>&nbsp;</p>


        <p>

            Nepotpunu ili djelomičnu dominaciju je najlakše opisati time da heterozigotni genotip određuje svoj vlastiti fenotip, a ne onaj od dominantnog alela.

        </p>

        <p>

            Za primjer uzmimo cvijet noćurka kojem je alel <strong>cR</strong> dominantan i određuje <em>crvenu</em> boju, a alel <strong>cW</strong> recesivan i određuje <em>bijelu</em> boju. To &bdquo;određivanje boje&ldquo; u ovom primjeru je ustvari prisutnost gena koji proizvodi crveni pigment, pri čemu alel <strong>cW</strong> označava da takvog gena nema. Organizam genotipa <strong>cRcW </strong>nema dovoljnu poizvodnju crvenog pigmenta, stoga je njegov fenotip <em>ružičasta</em> boja cvijeta.

        </p>

        <p>

            Ovakvo ponašanje ne mora biti vezano uz proizvodnju nečega poput pigmenta, već aleli mogu na različite načine međusobno utjecati na konačni fenotip. Još jedan primjer takvog ponašanja je oblik ljudske kose koja može biti ravna, kovrčava ili, kao mješavina, valovita (jasno, pričamo o načinu na koji kosa prirodno raste).

        </p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>

            Kodominantni je sličan nepotpunoj dominaciji u tome što postoje dodatni fenotipovi određeni mješavinom alela, no oni se ne događaju miješanjem dominantnog i recesivnog alela. Svojstva kojima su aleli u kodominatnom odnosu imaju više različitih dominantnih alela. Kada takva dva različita dominantna alela tvore genotip, ona imaju svoj vlastiti fenotip.

        </p>

        <p>

            Najpoznatiji primjer kodominantnog odnosa alela su krvne grupe. Kao alele imamo recesivan <strong>0</strong> i dominantne <strong>A</strong> i <strong>B</strong>. Fenotipovi su krvne grupe <em>0</em>, <em>A</em>, <em>B</em> i <em>AB</em> i određeni su na sljedeći način:

        </p>

        <ul>

            <li>genotip <strong>00</strong> daje krvnu grupu <em>0</em></li>

            <li>genotipovi <strong>AA</strong> i <strong>A0</strong> daju krvnu grupu <em>A</em></li>

            <li>genotipovi <strong>BB</strong> i <strong>B0</strong> daju krvnu grupu <em>B</em></li>

            <li>genotip <strong>AB</strong> daje krvnu grupu <em>AB</em></li>

        </ul>

        <p>

            Kodominantni odnos možemo shvatiti kao mješavinu klasičnog dominantno-recesivnog i nepotpunog nasljeđivanja. Ponaša se poput dominantno-recesivnog sve dok ne dođe poseban slučaj genotipa s dva različita dominantna alela (koji onda određuju novi fenotip) &ndash; slučaj s krvnom grupom <em>AB</em>.

        </p>
        <p>&nbsp;</p>
        <a [routerLink]="['/lectures']">
            <button class="btn btn-default">
                <span class='glyphicon glyphicon-menu-left'></span> Natrag na uvodnu lekciju
            </button>
        </a>
    </h4>
</div>