<div class="col-md-11">
    <h2>Genetika – uvod, povijest i GeCo</h2>

    <h4 style="text-align: justify;
    text-justify: inter-word;">
        <br />
        <p>&nbsp;</p>

        <p>

            Genetika je, kao što i sami znate, znanost o nasljeđivanju. No, što to točno znači, odnosno kada nešto postaje znanost?

        </p>

        <br />

        <p>

            Početkom genetike se smatra rad Gregora Mendela sredinom 19. stoljeća, ali ideja o nekakvoj pravilnosti u nasljeđivanju seže puno dalje u povijesti.

        </p>

        <p>

            Ljudi nisu bili slijepi. Bilo je očito da određeni članovi obitelji dijele slična svojstva, da netko ima „očevo visoko čelo“ ili „majčine tamno smeđe oči“. Ono što je ljude sprječavalo da dođu do nekog konkretnog zaključka je što nije bilo jasnog pravila što koji potomak nasljeđuje od kojeg roditelja, ili kako dijete može nimalo ne nalikovati na oba roditelja.

        </p>

        <p>

            Pojedinac se tijekom svog života u prosjeku susretne sa svega tri generacije neke obitelji, što je premalo da se zaključi koje su pravilnosti nasljeđivanja. Pogotovo kad uzmemo u obzir činjenicu da ljudi nisu bića koja imaju mnogo izravnih potomaka, za razliku od nekih drugih organizama (poput svima nama napornih mušica i komaraca).

        </p>

        <p>

            Mendelov iskorak je u tome što je on promatrao nasljeđivanje križanjem biljke graška koja daje mnogo potomaka koji se razviju u svega nekoliko mjeseci. Križao bi jedinke s različitim svojstvima (npr. zelene i žute sjemenke) i promatrao brojnost tih svojstava u potomcima kroz više generacija.

        </p>

        <p>

            Pravilnosti koje je Mendel uočio u tim promatranjima dovele su do oformljenja genetike kao znanosti početkom 20. stoljeća. Genetika koja se istraživala i razvijala u tom ranom razdoblju zovemo klasičnom ili Mendelovom genetikom. Ta genetika je fokus ove aplikacije.

        </p>

        <p>&nbsp;</p>

        <p>

            U aplikaciji GeCo možete sami simulirati pokuse nalik Mendelovima i kasnijih znanstvenika te doći do zaključka kako funkcioniraju različiti tipovi nasljeđivanja. Tipovi nasljeđivanja, odnosno odnosi gena koji se križaju, obrađeni u aplikaciji su:

        </p>

        <ul>

            <li><a [routerLink]="['/lectures/dominantno-recesivno']">dominantno-recesivno</a></li>

            <li><a [routerLink]="['/lectures/nepotpuno-kodominantno']">nepotpuna dominacija</a></li>

            <li><a [routerLink]="['/lectures/nepotpuno-kodominantno']">kodominantno</a></li>

            <li>vezani geni</li>

            <li>geni spolnih kromosoma</li>

        </ul>

        <p>&nbsp;</p>

        <p>

            Rijetka svojstva se u stvarnosti ponašaju potpuno pravilno, no neka su dovoljno blizu da ih promatramo kao takve. Takvi primjeri su ljudska boja kose i boja očiju koji u stvarnosti imaju puno kompleksniji model nasljeđivanja od onog kakav je predstavljen u nastavi.

        </p>

        <p>&nbsp;</p>

        <p>

            Ako niste upoznati s osnovnim pojmovima klasične genetike, pročitajte <a [routerLink]="['/lectures/dominantno-recesivno']"><em>članak o dominantno-recesivnom tipu nasljeđivanja</em></a>.

        </p>

        <p>

            Za one naprednije koji traže online materijale, mogu pogledati <a href="http://www.genetika.biol.pmf.unizg.hr"><em>ovdje</em></a>

        </p>
    </h4>
</div>