<h2>Teorija</h2>

<h3>Nasljeđivanje</h3>
<h4>
    <p>
        Na svom najosnovnijem nivou, nasljeđivanje kod organizama dešava se preko gena.
        Ovu osobinu je prvi put posmatrao Gregor Mendel, koji je istraživao segregaciju nasljednih osobina kod graška.
        U svojim eksperimentima s bojom cvijeta, Mendel je posmatrao da su cvjetovi svakog graška bili ili ljubičasti ili bijeli - ali nikada osrednje boje.
    </p>
    <p>
        Ove različite, diskretne verzije istog gena nazivaju se <b>aleli</b>.
        U slučaju graška, koji je diploidna vrsta, svaka induvidualna biljka ima dva alela svakog gena, po jedan od svakog roditelja.
        Mnoge vrste, uključujući i ljude, imaju ovakav način nasljeđivanja.
        Diploidni organizmi s dvije kopije istog alela datog gena nazivaju se <b>homozigoti</b>, a organizmi s dva različita alela datog gena nazivaju se <b>heterozigoti</b>.
        Skupina alela datog organizma zove se <b>genotip</b>, a vidljive osobine organizma nazivaju se <b>fenotip</b>.
        Kada organizmi imaju jedan gen heterozigotan, jedna alela se obično naziva dominantnom (budući da njene osobine dominiraju nad fenotipom organizma), dok se druga naziva recesivnom (budući da se njezine osobine ne pokazuju).
        Neke alele nemaju potpunu dominantnost i umjesto toga imaju nepotpunu dominantnost, pokazujući osrednji fenotip, ili kodomonanciju pokazujući obadvije alele.
    </p>
    <p>
        Kada se par organizama spolno razmnožava, njihovi potomci nasumično nasljeđuju jednu od dvije alele od svakog roditelja. Ova posmatranja diskretne nasljednosti i segregacija alela nazivaju se <b>Prvi Mendelov zakon</b>.
    </p>
    
</h4>